<h1>User Posts</h1>
<button class="btn btn-primary btn-md pull-right" data-target="#loginModal" data-toggle="modal">New Post
</button>
<div class="modal fade" tabindex="-1" id="loginModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
            <input class="form-control" placeholder="Title" type="text"  name = "postTitle" id="title"  [ngModel]="posts.title" required #postTitle="ngModel"
            />
            <div class="alert alert-danger" *ngIf="postTitle.invalid && postTitle.touched">
              <div [hidden]="!postTitle.errors.required">
                Post title is required!
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Message" type="text" name = "postMessage" id="body"  [ngModel]="posts.body" required #postMessage="ngModel" />
            <div class="alert alert-danger" *ngIf="postMessage.invalid && postMessage.touched">
                <div [hidden]="!postMessage.errors.required">
                  Post message is required!
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="onSavePost()" [disabled]="!f.form.valid" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <span class="glyphicon glyphicon-user"></span>
      </th>
      <th>Posts from {{name}}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>
        <span class="glyphicon glyphicon-pencil"></span>
      </td>
      <td>
        <b>{{post.title}}</b>
        <p>{{post.body}}</p>
        <div *ngFor="let cmnt of comments" >
          <p id="rcorners4" *ngIf="showComment && cmnt.postId == post.id">{{cmnt.body}}</p>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-link" (click)="viewComments(post.id)">View Comments</button>
      </td>
    </tr>
  </tbody>
</table>
